body { 
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c4ede0;
}
.login-area { 
  max-width: 330px;
  margin: 0 auto;
  //background-color: azure;
}
.login-area .form-control { 
  margin-bottom: 10px;
}
.sign-up-area { 
  max-width: 330px;
  margin: 0 auto; 
}
.column {
  float: left;
  width: 50.0%;
  padding: 100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
} 
.row { 
  margin: 0 auto;
  text-align: center;
}

#course-create-field { 
  display: none;
}

/*.dropdown {
  position: relative;
  display: inline-block;
}*/

.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  //padding: 16px;
  //font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  //position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show-content { 
  display: block;
}
.welcome { 
  color: blue;
}