.homebar {
  overflow: hidden;
  background-color: lightskyblue;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 75px;
  text-align: center;
  font-size: 45px;
}

.home-title { 
  color: indigo;
  font-size: xx-large;
}

.coursebar { 
  overflow: hidden;
  background-color: #595959;
  text-align: center;
  height: 50px;
  font-size: 30px;
}

.coursebar .change-course { 
  text-align: left;
  padding-right: 20px;
  //font-size: 16px;
  color: white;
  padding: 14px 16px;
  font-size: medium;
}

.dummy { 
  padding-bottom: 20px;
}

.coursebar .course-name { 
  text-align: center;
  //font-size: 16px;
  color: aquamarine;
  padding: 14px 16px;
  font-size: medium;
}

.coursebar .logout { 
  text-align: right;
  padding-left: 20px;
  //font-size: 16px;
  color: white;
  padding: 14px 16px;
  font-size: medium;
}

.coursebar a:hover { 
  background-color: gainsboro;
}

.title {
  padding-left: 25px;
  padding-bottom: 10px;
}

.question-list { 
  list-style:none !important;
  padding-left: 10px;
  padding-right: 25px;
  height: 80vh;
  overflow-y: scroll;
}

.question-pane {
  border-right: 1px solid #CCC;
}

.vote-number { 
  padding-left: 5px;
  color: mediumpurple;
}

.votes {
  padding-bottom: 5px;
  padding-right: 15px;
}

.vote-label { 
  padding-left: 20px;
}

.question-preview {
  padding-left: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #CCC;
  min-height: 100px;
  //max-height: 150px;
}

.preview-content { 
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding-bottom: 7px;
}

.question-preview:hover {
  outline: 3px solid #9ED0F6;
}

.selected {
  outline: 3px solid #9ED0F6;
}

.answers-pane {
  margin-left: 25px;
}

.question-preview > h1 { 
  margin-top: 0px;
  padding-top: 15px;
  font-size: 24px;
}

.question {
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #CCC;
  min-height: 100px;
}

.the-question {
  font-weight:bold;
  font-size: 20px;
}

.answer {
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #CCC;
  min-height: 100px;
}

.answer > h1 {
  color: #64CE81;
}

.socket-user {
  padding: 5px;
  padding-top: 3px;
  background: #666;
  border-radius: 3px;
  color: #FFF;
  font-weight: bold;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.votes { 
    margin:5px;
}
